<h1>Comment on <%= @paper.title %></h1>

<p>
  <b>Name:</b>
  <%=h @comment.name %>
</p>
<p>
  <b>Email:</b>
  <%=h @comment.email %>
</p>

<p>
  <b>Body:</b>
  <%=h @comment.text %>
</p>

<%= link_to 'Edit', edit_paper_comment_path(@paper, @comment) %> |
<%= link_to 'Back', paper_comments_path(@paper) %>

