<p>
  <b>Name:</b>
  <%=h @papier.name %>
</p>

<p>
  <b>Title:</b>
  <%=h @papier.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @papier.body %>
</p>

<p>
  <b>Admin:</b>
  <%=h @papier.admin %>
</p>

<p>
  <b>Picture:</b>
  <%=h @papier.picture %>
</p>

<p>
  <b>Picture2:</b>
  <%=h @papier.picture2 %>
</p>

<p>
  <b>Description:</b>
  <%=h @papier.description %>
</p>

<p>
  <b>Category:</b>
  <%=h @papier.category %>
</p>

<p>
  <b>Author name:</b>
  <%=h @papier.author_name %>
</p>

<p>
  <b>Author email:</b>
  <%=h @papier.author_email %>
</p>

<p>
  <b>Author organisation:</b>
  <%=h @papier.author_organisation %>
</p>

<p>
  <b>Language:</b>
  <%=h @papier.language %>
</p>

<p>
  <b>Position:</b>
  <%=h @papier.position %>
</p>


<%= link_to 'Edit', edit_papier_path(@papier) %> |
<%= link_to 'Back', papiers_path %>