<ul>
<li><%= link_to 'Meeting with Jacob Zuma ', {:controller =>'viewer', :action =>'show', :name => 'home'}%></li>
<li><%= link_to 'Compagnies and individuals in illegal trade in Congo', {:controller =>'viewer', :action =>'show', :name => 'home'}%></li>
<li><%= link_to 'Human rights abuses in the Congo', {:controller =>'viewer', :action =>'show', :name => 'home'}%></li>
<li><%= link_to 'Congolese diaspora organizations in Southern Africa', {:controller =>'viewer', :action =>'show', :name => 'home'}%></li>
<li><%= link_to 'Book for the Forum next event ', {:controller =>'viewer', :action =>'show', :name => 'home'}%></li>
<li><%= link_to 'Get into our email list ', {:controller =>'viewer', :action =>'show', :name => 'home'}%></li>
<li><%= link_to 'How can you get involved or support our work?', {:controller =>'viewer', :action =>'show', :name => 'home'}%></li>
</ul>
