<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Where from</th>
    <th>Message</th>
  </tr>

<% for contacts in @contacts %>
  <tr>
    <td><%=h contacts.Name %></td>
    <td><%=h contacts.Email %></td>
    <td><%=h contacts.Where_From %></td>
    <td><%=h contacts.Message %></td>
    <td><%= link_to 'Show', contacts %></td>
    <td><%= link_to 'Edit', edit_contacts_path(contacts) %></td>
    <td><%= link_to 'Destroy', contacts, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contacts', new_contacts_path %>
