<div class="episode">
  <div class="side">
    <div class="number">#<%= paper.position %></div>
    <div class="published_at"><%= paper.created_at.strftime('%b %d, %Y') %></div>
    <div class="comments_count"><%= link_to pluralize(paper.comments.size, 'comment'), paper_path(:id => episode, :anchor => 'comments') %></div>
     </div>
  <div class="main">
    <h2><%= link_to_unless_current h(paper.title), paper %></h2>
    <div class="picture"><%=h paper.picture %></div>
    <div class="description"><%=h paper.description %></div>
    <div class="author">By <%=h paper.author_name %> <%=h paper.author_email %>  </div>
    <div class="author">From <%=h paper.author_organisation %></div>
    