<h1>Listing papers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>category</th>
    <th>language</th>
    <th>Description</th>
    <th>Picture</th>
    <th>Body</th>
    <th>Admin?</th>
    <th>author's name</th>
    <th>author's email</th>
    <th>author's organisation</th>
    <th>Position </th>

    <th></th>
  </tr>

<% for paper in @papers %>
  <tr>
    <td><%=h paper.name %></td>
    <td><%=h paper.title %></td>
    <td><%=h paper.category %></td>
    <td><%=h paper.language %></td>
    <td><%=h paper.description %></td>
    <td><%=h paper.picture %></td>
    <td><%=h paper.picture2 %></td>
    <td><%=h paper.body %></td>
    <td><%=h paper.admin? ? "TRUE" : "FALSE" %></td>
    <td><%=h paper.author_name %></td>
    <td><%=h paper.author_email %></td>
    <td><%=h paper.author_organisation %></td>
    <td><%=h paper.position %></td>
    <td><%= link_to 'Show', paper %></td>
    <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
    <td><%= link_to 'Destroy', paper, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New paper', new_paper_path %>
