

<% form_tag({:controller => 'french_viewer', :action =>'index' }, {:method => 'get'}) do %>
  <p class="content">
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @papiers.empty? %>
  <p class="content">No articles found. <%= link_to "See all articles.", papiers_path %></p>
<% else %>
  	<% for papier in @papiers %>
	<div class="episodes">
	<div class="episode">
  <div class="side">
	<div class="number">#<%= papier.position %></div>
	<div class="published_at"><%= papier.published_at.strftime('%b %d, %Y') %></div>
	<div class="comments_count"><%= link_to pluralize(papier.commentaires.size, 'commentaire'), {:controller =>'french_viewer', :action =>'show', :id =>papier.id} %></div>
  </div>
  <div class="main">
	<h2><%= link_to h(papier.title),{:controller =>'french_viewer', :action =>'show', :id =>papier.id}%></h2>
	<table>
		<tr>
	<td><div> <img class="list-image" src="<%= papier.picture %>"/></div></td>
	<td>
		<div class="description"><%=h papier.description %></div>
		<div class="author">By <%=h papier.author_name %> </div>

	</td>
	    </tr>
	</table>

	</div>
	</div>
	</div>
<% end %>
<% end %>
<%= will_paginate @papiers %>