<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= @pagetitle || (@page && @page.title)|| "Learning Rails" %></title>
		<%= stylesheet_link_tag 'learningrails', 'application' %>
		<%= javascript_include_tag 'jquery', 'application' %>
  </head>
  <body>
		<div id='pagewrapper'>
			<div id='header'>
				<p>Forum des Organisations Congolaises en Afrique du Sud - FOCAS </p>
		  </div>
			<div id='navbar'>
				<ul>
					<li><%= link_to 'Home', view_page_path('home') %></li>
					<li><%= link_to 'Resources', view_page_path('resources') %></li>
				<li><%= link_to 'About Us', view_page_path('about us') %></li>
				<li><%= link_to 'Contact Us', view_page_path('contact us') %></li>
					<li><% if logged_in? %>
								<%= link_to "Log Out", logout_path %>
							<% else %>
								<%= link_to "Log In", login_path %>
							<% end %>
					</li>
				</ul>
		  <div>
		</div>
		<div id='content1'>
			<h2><%= flash[:notice] %></h2>

      <%= yield %>
		</div>
		
	 <div id="side">
		<%= yield(:side) || render(:partial => 'shared/side') %>
	  </div>
	  <div class="clear"></div>
	</div>
	
		<div id='footer'>
			<p>Forum des Organisations Congolaises en Afrique du Sud -FOCAS </p>
		</div>
  </body>
</html>